@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

/* STRUCTURE & LAYOUT incl. padding, margins, alignment, height, width */                                                                                                         
html {
    text-align: center;
}

header {
height: 200px;

}

h2 {
    padding: 10px 0px 10px 0px;
}

.about-mob{
    display: flex;
    max-width: 600px;
    text-align: center;
    justify-content: center;

}

img {
    width: 30%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

body {
    margin: 0;
}

.bio {
    margin: 40px 0px 0px 0px;
    padding: 2%;
}


/* THEME & DESIGN incl. colors, fonts, shadows, border formatting */
header {
    background-color: #ffe8df;
    color: #888888;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.19);

}

h2 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

h3 {
    font-family: 'Magra', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

p {
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
    text-align: center;
}

body {
    background-color: #ffffff;
    color: #888888;
}

.right { 
    box-shadow: 3px 3px 10px 0px rgba(160, 160, 160, 0.19);
}

.left {
    box-shadow: -3px 3px 10px 0px rgba(160, 160, 160, 0.19);
}

img {
    /* box-shadow: 3px 3px 10px 0px rgba(160, 160, 160, 0.19); */
    /* moved above rule to .pic so it wouldnt affect the logo */

}

.pic {
    box-shadow: 3px 3px 10px 0px rgba(160, 160, 160, 0.19);

    border-radius: 50%;
    filter: grayscale(100%);
}


/* STATE - incl. transitions and animations */
.pic:hover {
    filter: grayscale(0%);
    transition: 400ms ease-in-out;
}


.logo {
    margin: 0;
}
.mail{
    text-decoration: none;
    color: teal;
    font-family: 'magra', sans-serif    ;
}

@media (min-width: 600px) {
/* STRUCTURE & LAYOUT incl. padding, margins, alignment, height, width */
.bio {
    
}

.right{
    margin-left: 15%;
}

.left{
    margin-right: 15%;
}

img {
    width: 15%;
    height: auto;
    margin: 1%;
    }
}

/* THEME & DESIGN incl. colors, fonts, shadows, border formatting */

/* STATE - incl. transitions and animations */
